# Lab | Data Structuring and Combining Data

Objective: 
- Combine and integrate data from multiple sources using merging, concatenating, or joining techniques to generate more comprehensive and meaningful datasets for analysis.
- Modify the structure of data by pivoting, stacking/unstacking, or melting dataframes, enabling them to efficiently explore and analyze complex datasets.

# Challenge 1: Combining Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links: 
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Perform data cleaning and formatting using the main cleaning and formatting function created in the previous lab to clean and format the data.

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

Observation: 
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [23]:
import pandas as pd
from thefunctions import lower_snake

# Load data from the URLs
url_file1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url_file2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url_file3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

# Read data into DataFrames
df1 = pd.read_csv(url_file1)
df2 = pd.read_csv(url_file2)
df3 = pd.read_csv(url_file3)

# Standardize column names for all DataFrames
df1_cleaned = lower_snake(df1)
df2_cleaned = lower_snake(df2)
df3_cleaned = lower_snake(df3)

# Concatenate the three DataFrames into a single DataFrame
all_data = pd.concat([df1_cleaned, df2_cleaned, df3_cleaned], ignore_index=True)

print(all_data)

      customer          st gender             education  \
0      RB50392  Washington    NaN                Master
1      QZ44356     Arizona      F              Bachelor
2      AI49188      Nevada      F              Bachelor
3      WW63253  California      M              Bachelor
4      GA49547  Washington      M  High School or Below
...        ...         ...    ...                   ...
12069  LA72316         NaN      M              Bachelor
12070  PK87824         NaN      F               College
12071  TD14365         NaN      M              Bachelor
12072  UP19263         NaN      M               College
12073  Y167826         NaN      M               College

      customer_lifetime_value   income  monthly_premium_auto  \
0                         NaN      0.0                1000.0
1                  697953.59%      0.0                  94.0
2                 1288743.17%  48767.0                 108.0
3                  764586.18%      0.0                 106.0
4                  536307.65%  36357.0                  68.0
...                       ...      ...                   ...
12069             23405.98798  71941.0                  73.0
12070             3096.511217  21604.0                  79.0
12071             8163.890428      0.0                  85.0
12072             7524.442436  21941.0                  96.0
12073             2611.836866      0.0                  77.0

      number_of_open_complaints     policy_type  vehicle_class  \
0                        1/0/00   Personal Auto  Four-Door Car
1                        1/0/00   Personal Auto  Four-Door Car
2                        1/0/00   Personal Auto   Two-Door Car
3                        1/0/00  Corporate Auto            SUV
4                        1/0/00   Personal Auto  Four-Door Car
...                         ...             ...            ...
12069                         0   Personal Auto  Four-Door Car
12070                         0  Corporate Auto  Four-Door Car
12071                         3  Corporate Auto  Four-Door Car
12072                         0   Personal Auto  Four-Door Car
12073                         0  Corporate Auto   Two-Door Car

       total_claim_amount       state
0                2.704934         NaN
1             1131.464935         NaN
2              566.472247         NaN
3              529.881344         NaN
4               17.269323         NaN
...                   ...         ...
12069          198.234764  California
12070          379.200000  California
12071          790.784983  California
12072          691.200000  California
12073          369.600000  California

[12074 rows x 12 columns]

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

While the dataset has been partially cleaned and formatted, we still need to perform several data cleaning tasks. Specifically, we need to standardize the column names, clean null values, convert the effective_to_date column to datetime, and extract the months from the dataset and store them in a separate column. 

To accomplish these tasks, we will use the functions created in the previous step to standardize the column names and deal with null values, and then we will apply additional functions to convert the effective_to_date column to datetime and extract the months.

Save the clean dataset into a csv file.

In [27]:

# Function to standardize the column names
def lower_snake(df):
    df.columns = df.columns.str.lower().str.replace(" ", "_")
    return df

# Load the data from the provided link
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
df = pd.read_csv(url)

# Standardize the column names
df = lower_snake(df)

# Fill null values with zeros for numeric columns
numeric_cols = df.select_dtypes(include=[float, int]).columns
df[numeric_cols] = df[numeric_cols].fillna(0)

# Convert 'effective_to_date' to datetime with correct date format
df['effective_to_date'] = pd.to_datetime(df['effective_to_date'], format='%m/%d/%y')

# Extract months from 'effective_to_date' and store them in a new column
df['effective_month'] = df['effective_to_date'].dt.month

# Save the clean dataset to a CSV file
df.to_csv('clean_marketing_customer_analysis.csv', index=False)

## Exercise 2: Structuring Data

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

3. You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [31]:
#1

# Standardize the column names by converting them to lowercase and replacing spaces with underscores
df.columns = df.columns.str.lower().str.replace(" ", "_")

# Print the list of columns to verify the correct column name
print(df.columns)

# Create a pivot table to summarize total revenue for each sales channel
summary_table = df.pivot_table(values='total_claim_amount', index='sales_channel', aggfunc='sum')

# Round the total revenue to 2 decimal points
summary_table['Total Revenue'] = summary_table['total_claim_amount'].round(2)

# Display the summary table
print(summary_table)

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'effective_month'],
      dtype='object')
               total_claim_amount  Total Revenue
sales_channel
Agent                1.810227e+06     1810226.82
Branch               1.301204e+06     1301204.00
Call Center          9.266008e+05      926600.82
Web                  7.066000e+05      706600.04

In [32]:
#2

# Standardize the column names by converting them to lowercase and replacing spaces with underscores
df.columns = df.columns.str.lower().str.replace(" ", "_")

# Create a pivot table to summarize the average customer lifetime value per gender and education level
pivot_table_avg_clv = df.pivot_table(values='customer_lifetime_value', index=['gender', 'education'], aggfunc='mean')

# Round the average customer lifetime value to 2 decimal points
pivot_table_avg_clv['Average Customer Lifetime Value'] = pivot_table_avg_clv['customer_lifetime_value'].round(2)

# Display the pivot table
print(pivot_table_avg_clv)

                             customer_lifetime_value  \
gender education
F      Bachelor                          7874.269478
       College                           7748.823325
       Doctor                            7328.508916
       High School or Below              8675.220201
       Master                            8157.053154
M      Bachelor                          7703.601675
       College                           8052.459288
       Doctor                            7415.333638
       High School or Below              8149.687783
       Master                            8168.832659

                             Average Customer Lifetime Value
gender education
F      Bachelor                                      7874.27
       College                                       7748.82
       Doctor                                        7328.51
       High School or Below                          8675.22
       Master                                        8157.05
M      Bachelor                                      7703.60
       College                                       8052.46
       Doctor                                        7415.33
       High School or Below                          8149.69
       Master                                        8168.83

In [33]:
#3

# Create a pivot table to summarize the number of complaints by policy type and month
pivot_table_complaints = df.pivot_table(values='number_of_open_complaints', 
                                       index=['policy_type', 'effective_month'], 
                                       aggfunc='sum')

# Reset the index to convert the pivot table to a long format
pivot_table_complaints.reset_index(inplace=True)

# Display the summary table in long format
print(pivot_table_complaints)

      policy_type  effective_month  number_of_open_complaints
0  Corporate Auto                1                      415.0
1  Corporate Auto                2                      361.0
2   Personal Auto                1                     1635.0
3   Personal Auto                2                     1363.0
4    Special Auto                1                       84.0
5    Special Auto                2                       91.0